In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [ ]:
#loading data from csv to panda frame
raw_mail_data = pd.read_csv('/content/mail_data.csv')

In [ ]:
print(raw_mail_data)

     Category                                            Message
0         ham  Go until jurong point, crazy.. Available only ...
1         ham                      Ok lar... Joking wif u oni...
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...
3         ham  U dun say so early hor... U c already then say...
4         ham  Nah I don't think he goes to usf, he lives aro...
...       ...                                                ...
5567     spam  This is the 2nd time we have tried 2 contact u...
5568      ham               Will Ã¼ b going to esplanade fr home?
5569      ham  Pity, * was in mood for that. So...any other s...
5570      ham  The guy did some bitching but I acted like i'd...
5571      ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [ ]:
#replace null values with null string
mail_data = raw_mail_data.where((pd.notnull(raw_mail_data)),'')

In [ ]:
#checking sample data- first 5 rows
mail_data.head(5)

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [ ]:
#checking the number of row and col in dataset
mail_data.shape
#rows,col(cat,msg)

(5572, 2)

In [ ]:
#changing ham and spam to 1,0
mail_data.loc[mail_data['Category']=='spam','Category']=0
mail_data.loc[mail_data['Category']=='ham','Category']=1

In [ ]:
#checking sample data- first 5 rows
mail_data.head(5)

  Category                                            Message
0        1  Go until jurong point, crazy.. Available only ...
1        1                      Ok lar... Joking wif u oni...
2        0  Free entry in 2 a wkly comp to win FA Cup fina...
3        1  U dun say so early hor... U c already then say...
4        1  Nah I don't think he goes to usf, he lives aro...

In [ ]:
#seperating columns
x= mail_data['Message']
y= mail_data['Category']
print(y)

0       1
1       1
2       0
3       1
4       1
       ..
5567    0
5568    1
5569    1
5570    1
5571    1
Name: Category, Length: 5572, dtype: object

In [ ]:
#dividing data into train and test data
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2, random_state=3) #20% test

In [ ]:
print(x.shape)
print(x_train.shape)
print(x_test.shape)

(5572,)
(4457,)
(1115,)

In [ ]:
#transform txt data to feature vectors that can be used as input to the logistic regression model
feature_extraction = TfidfVectorizer(min_df = 1, stop_words='english', lowercase='True')
x_train_features = feature_extraction.fit_transform(x_train)
x_test_features = feature_extraction.transform(x_test)

#convert y_train,test values to integer
y_train = y_train.astype('int')
y_test = y_test.astype('int')

In [ ]:
print(x_train_features)

In [ ]:
#training
model = LogisticRegression()

In [ ]:
model.fit(x_train_features,y_train)

LogisticRegression()

In [ ]:
#prediction

predict_trainingdata = model.predict(x_train_features)
accuracy_on_data = accuracy_score(y_train,predict_trainingdata)

In [ ]:
print(accuracy_on_data)

0.9670181736594121

In [ ]:
#now with test data
predict_testdata = model.predict(x_test_features)
accuracy_on_testdata = accuracy_score(y_test,predict_testdata)

In [ ]:
print(accuracy_on_testdata)

0.9659192825112107